h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

ion-content {
  background-color: #9581a0;
}
ion-img {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: block;
  border-radius: 50px;
}

h2 {
  text-align: center;
  color: #ffffff;
}
