h2 {
  text-align: center;
  color: #3b82f6;
  margin-top: 20px;
}

ion-content {
  background-color: #f0f4ff;
}
ion-img {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  display: block;
  border-radius: 50px;
}

h2 {
  text-align: center;
  color: #ffffff;

}

